.idea/
tmp/
node_modules/
.sass-cache/
assets/
log/
vendor/
.DS_Store
.project
Thumbs.db
*.log
*.map
yarn.lock
*.zip
.npmrc

hello-plus*.zip
hello-plus/

!tests/phpunit/hello-plus
.phpunit.result.cache
test-results/
