@import "../../../../assets/dev/scss/variables";

.ehp-cta {
	--cta-box-height: auto;
	--cta-box-full-height: 100vh;

	--cta-content-direction: start;
	--cta-content-text-align: start;
	--cta-buttons-position: flex-start;
	--cta-elements-spacing: 40px;
	--cta-buttons-space-between: 16px;
	--cta-content-width: 1304px;
	--cta-elements-start-position: column;
	--cta-elements-start-position-desktop: row;
	--cta-buttons-vertical-position: start;

	--cta-heading-color: #28292B;
	--cta-description-color: #28292B;

	// --cta-text-width-heading: 800px;
	// --cta-text-width-description: 440px;

	--cta-button-primary-icon-spacing: 10px;
	--cta-button-primary-icon-size: 16px;
	--cta-button-primary-text-color: #{$global-colors-white};
	--cta-button-primary-text-color-hover: #{$global-colors-text};
	--cta-button-primary-border-width: 0;
	--cta-button-primary-border-color: transparent;
	--cta-button-primary-padding-block-end: 8px;
	--cta-button-primary-padding-block-start: 8px;
	--cta-button-primary-padding-inline-end: 16px;
	--cta-button-primary-padding-inline-start: 16px;
	--cta-button-primary-border-radius-block-end: #{$corners-shape-default};
	--cta-button-primary-border-radius-block-start: #{$corners-shape-default};
	--cta-button-primary-border-radius-inline-end: #{$corners-shape-default};
	--cta-button-primary-border-radius-inline-start: #{$corners-shape-default};

	--cta-button-secondary-icon-spacing: 10px;
	--cta-button-secondary-icon-size: 16px;
	--cta-button-secondary-text-color: #{$global-colors-secondary};
	--cta-button-secondary-text-color-hover: #{$global-colors-secondary};
	--cta-button-secondary-border-width: 2px;
	--cta-button-secondary-border-color: #{$global-colors-secondary};
	--cta-button-secondary-padding-block-end: 8px;
	--cta-button-secondary-padding-block-start: 8px;
	--cta-button-secondary-padding-inline-end: 16px;
	--cta-button-secondary-padding-inline-start: 16px;
	--cta-button-secondary-border-radius-block-end: #{$corners-shape-default};
	--cta-button-secondary-border-radius-block-start: #{$corners-shape-default};
	--cta-button-secondary-border-radius-inline-end: #{$corners-shape-default};
	--cta-button-secondary-border-radius-inline-start: #{$corners-shape-default};

	--cta-box-padding-block-end: 60px;
	--cta-box-padding-block-start: 60px;
	--cta-box-padding-inline-end: 60px;
	--cta-box-padding-inline-start: 60px;

	--cta-image-position: center center;
	--cta-image-border-width: 1px;
	--cta-image-border-color: #{$global-colors-secondary};

	--cta-border-radius-default: #{$corners-shape-default};
	--cta-border-radius-sharp: #{$corners-shape-sharp};
	--cta-border-radius-rounded: #{$corners-shape-rounded};
	--cta-border-radius-round: #{$corners-shape-round};
	--cta-border-radius-oval: #{$corners-shape-oval};

	--cta-box-border-radius-custom-block-end: #{$corners-shape-sharp};
	--cta-box-border-radius-custom-block-start: #{$corners-shape-sharp};
	--cta-box-border-radius-custom-inline-end: #{$corners-shape-sharp};
	--cta-box-border-radius-custom-inline-start: #{$corners-shape-sharp};
	--cta-image-border-radius-custom-block-end: #{$corners-shape-sharp};
	--cta-image-border-radius-custom-block-start: #{$corners-shape-sharp};
	--cta-image-border-radius-custom-inline-end: #{$corners-shape-sharp};
	--cta-image-border-radius-custom-inline-start: #{$corners-shape-sharp};

	display: flex;
	justify-content: center;
	min-height: var(--cta-box-height);
	padding-block-end: var(--cta-box-padding-block-end);
	padding-block-start: var(--cta-box-padding-block-start);
	padding-inline-end: var(--cta-box-padding-inline-end);
	padding-inline-start: var(--cta-box-padding-inline-start);

	@mixin shapes() {
		&-sharp {
			border-radius: var(--cta-border-radius-sharp);
		}
	
		&-rounded {
			border-radius: var(--cta-border-radius-rounded);
		}
	
		&-round {
			border-radius: var(--cta-border-radius-round);
		}

		&-default {
			border-radius: var(--cta-border-radius-default);
		}
	
		&-oval {
			border-radius: var(--cta-border-radius-oval);
		}

		&-custom {
			border-top-left-radius: var(--cta-border-radius-block-end);
			border-top-right-radius: var(--cta-border-radius-block-start);
			border-bottom-right-radius: var(--cta-border-radius-inline-end);
			border-bottom-left-radius: var(--cta-border-radius-inline-start);
		}
	}

	& .has-shape,
	&.has-shape {
		@include shapes();

		&-md {
			@media screen and (max-width: $screen-desktop-min) {
				@include shapes();
			}
		}

		&-sm {
			@media screen and (max-width: $screen-tablet-min) {
				@include shapes();
			}
		}
	}

	&.has-image-stretch {
		padding-block-start: 0;
		padding-inline-start: 0;
		padding-inline-end: 0;

		&.has-preset-storytelling {
			& .ehp-cta__text-container,
			& .ehp-cta__ctas-container {
				padding-inline-end: var(--cta-box-padding-inline-end);
				padding-inline-start: var(--cta-box-padding-inline-start);
			}
		}
	}

	@supports (height: 100dvh) {
		--cta-box-full-height: 100dvh;
	}

	@mixin full-height($min: null, $max: null) {
		$query: null;

		@if $min != null and $max != null {
			$query: "(min-width: " + $min + ") and (max-width: " + $max + ")";
		} @else if $max != null {
			$query: "(max-width: " + $max + ")";
		} @else if $min != null {
			$query: "(min-width: " + $min + ")";
		}

		@if $query != null {
			@media #{$query} {
				--cta-box-height: var(--cta-box-full-height, 100vh);

				align-items: center;
			};
		}
	}

	&.is-full-height-mobile {
		@include full-height(null, $screen-mobile-max);
	}

	&.is-full-height-mobile_extra {
		@include full-height($screen-mobile-extra-min, $screen-mobile-extra-max);
	}

	&.is-full-height-tablet {
		@include full-height($screen-tablet-min, $screen-tablet-max);
	}

	&.is-full-height-tablet_extra {
		@include full-height($screen-tablet-extra-min, $screen-tablet-extra-max);
	}

	&.is-full-height-laptop {
		@include full-height($screen-laptop-min, $screen-laptop-max);
	}

	&.is-full-height-desktop {
		@include full-height($screen-desktop-min, null);

		&.is-full-height-widescreen {
			@include full-height($screen-desktop-min, $screen-desktop-max);
		}
	}

	&.is-full-height-widescreen {
		@include full-height($screen-widescreen-min, null);
	}

	&.has-preset {

		&-focus {

			.ehp-cta__elements-container {
				display: flex;
				flex-direction: column;
			}

			@media screen and (min-width: $screen-tablet-min) {
				.ehp-cta__elements-container {
					flex-direction: row;
				}

				.ehp-cta__text-container {
					width: 66.66%;
				}
	
				.ehp-cta__buttons-wrapper {
					justify-content: flex-end;
				}
			}
		}

		&-streamline,
		&-storytelling {

			.ehp-cta__elements-container {
				display: flex;
				flex-direction: column;
			}
		}
	}

	& a.ehp-button,
	& a.ehp-button:not([href]):not([tabindex]) {
		--ehp-button-primary-icon-spacing: var(--cta-button-primary-icon-spacing);
		--ehp-button-primary-icon-size: var(--cta-button-primary-icon-size);
		--ehp-button-primary-text-color: var(--cta-button-primary-text-color);
		--ehp-button-primary-text-color-hover: var(--cta-button-primary-text-color-hover);
		--ehp-button-primary-border-width: var(--cta-button-primary-border-width);
		--ehp-button-primary-border-color: var(--cta-button-primary-border-color);
		--ehp-button-primary-padding-block-end: var(--cta-button-primary-padding-block-end);
		--ehp-button-primary-padding-block-start: var(--cta-button-primary-padding-block-start);
		--ehp-button-primary-padding-inline-end: var(--cta-button-primary-padding-inline-end);
		--ehp-button-primary-padding-inline-start: var(--cta-button-primary-padding-inline-start);
		--ehp-button-primary-border-radius-block-end: var(--cta-button-primary-border-radius-block-end);
		--ehp-button-primary-border-radius-block-start: var(--cta-button-primary-border-radius-block-start);
		--ehp-button-primary-border-radius-inline-end: var(--cta-button-primary-border-radius-inline-end);
		--ehp-button-primary-border-radius-inline-start: var(--cta-button-primary-border-radius-inline-start);

		--ehp-button-secondary-icon-spacing: var(--cta-button-secondary-icon-spacing);
		--ehp-button-secondary-icon-size: var(--cta-button-secondary-icon-size);
		--ehp-button-secondary-text-color: var(--cta-button-secondary-text-color);
		--ehp-button-secondary-text-color-hover: var(--cta-button-secondary-text-color-hover);
		--ehp-button-secondary-border-width: var(--cta-button-secondary-border-width);
		--ehp-button-secondary-border-color: var(--cta-button-secondary-border-color);
		--ehp-button-secondary-padding-block-end: var(--cta-button-secondary-padding-block-end);
		--ehp-button-secondary-padding-block-start: var(--cta-button-secondary-padding-block-start);
		--ehp-button-secondary-padding-inline-end: var(--cta-button-secondary-padding-inline-end);
		--ehp-button-secondary-padding-inline-start: var(--cta-button-secondary-padding-inline-start);
		--ehp-button-secondary-border-radius-block-end: var(--cta-button-secondary-border-radius-block-end);
		--ehp-button-secondary-border-radius-block-start: var(--cta-button-secondary-border-radius-block-start);
		--ehp-button-secondary-border-radius-inline-end: var(--cta-button-secondary-border-radius-inline-end);
		--ehp-button-secondary-border-radius-inline-start: var(--cta-button-secondary-border-radius-inline-start);
	}

	&__ctas-container {
		align-items: var(--cta-buttons-vertical-position);
		display: flex;
		flex-grow: 1;
	}

	@mixin cta-width() {
		&-default {
			flex-direction: row;
		}

		&-stretch {
			align-items: flex-start;
			flex-direction: column;

			& .ehp-cta__button {
				width: 100%;
			}
		}
	}

	&__buttons-wrapper {
		display: flex;
		gap: var(--cta-buttons-space-between);
		width: 100%;

		@media screen and (min-width: $screen-tablet-min) {
			align-items: center;
			flex-direction: row;
			justify-content: flex-start;
		}

		&.has-cta-width {
			@include cta-width();

			&-md {
				@media screen and (max-width: $screen-desktop-min) {
					@include cta-width();
				}
			}

			&-sm {
				@media screen and (max-width: $screen-tablet-min) {
					@include cta-width();
				}
			}
		}
	}

	&__elements-container {
		display: flex;
		// flex-direction: var(--cta-elements-start-position);
		gap: var(--cta-elements-spacing);
		max-width: var(--cta-content-width);
		width: 100%;
	}

	&__heading {
		color: var(--cta-heading-color);
		margin: 0;
		// max-width: var(--cta-text-width-heading);
	}

	&__description {
		color: var(--cta-description-color);
		margin: 0;
		// max-width: var(--cta-text-width-description);
	}

	&__text-container {
		// align-items: center;
		display: flex;
		flex-direction: column;
		gap: var(--cta-elements-spacing);

		// .ehp-cta__heading,
		// .ehp-cta__description {
		// 	text-align: center;
		// }
	}

	&__image-container {
		align-items: center;
		display: flex;
		justify-content: center;
		z-index: 2;

		.elementor & img {
			height: var(--cta-image-height);
			object-fit: cover;
			object-position: var(--cta-image-position);
			min-height: var(--cta-image-min-height);
			width: var(--cta-image-width);

			@mixin custom-shape-image() {
				&-rounded {
					--cta-border-shape-rounded: #{$corners-image-shape-rounded};
				}

				&-round {
					--cta-border-shape-round: #{$corners-image-shape-round};
				}

				&-custom {
					--cta-border-radius-block-end: var(--cta-image-border-radius-custom-block-end);
					--cta-border-radius-block-start: var(--cta-image-border-radius-custom-block-start);
					--cta-border-radius-inline-end: var(--cta-image-border-radius-custom-inline-end);
					--cta-border-radius-inline-start: var(--cta-image-border-radius-custom-inline-start);
				}
			}
		
			&.has-shape {
				@include custom-shape-image();
		
				&-md {
					@media screen and (max-width: $screen-desktop-min) {
						@include custom-shape-image();
					}
				}
	
				&-sm {
					@media screen and (max-width: $screen-tablet-min) {
						@include custom-shape-image();
					}
				}
			}

			&.has-border {
				border-color: var(--cta-image-border-color);
				border-style: solid;
				border-width: var(--cta-image-border-width);
			}
		}
	}

	&.has-image-stretch {
		--cta-image-width: 100%;
	}

	@mixin content-alignment() {
		&-center {
			.ehp-cta__buttons-wrapper {
				justify-content: center;
			}
	
			.ehp-cta__text-container {
				text-align: center;
			}
		}
	}

	&.has-content-alignment {
		@include content-alignment();

		&-md {
			@media screen and (max-width: $screen-desktop-min) {
				@include content-alignment();
			}
		}

		&-sm {
			@media screen and (max-width: $screen-tablet-min) {
				@include content-alignment();
			}
		}

	// 	&-start {

	// 		.ehp-cta__text-container {
	// 			align-items: start;

	// 			.ehp-cta__heading,
	// 			.ehp-cta__description {
	// 				text-align: start;
	// 			}
	// 		}

	// 		@media screen and (min-width: $screen-desktop-min) {
	// 			--cta-elements-start-position: var(--cta-elements-start-position-desktop);

	// 			.ehp-cta__ctas-container {
	// 				align-items: var(--cta-buttons-position);
	// 				display: flex;
	// 			}

	// 			.ehp-cta__buttons-wrapper {
	// 				justify-content: flex-end;
	// 			}
	// 		}
	// 	}
	}
}
