@import "../../../../assets/dev/scss/variables";

.ehp-contact {
	display: flex;
	flex-direction: column;
	gap: var(--contact-box-gap);
	padding-inline-start: var(--contact-box-padding-inline-start);
	padding-inline-end: var(--contact-box-padding-inline-end);
	padding-block-start: var(--contact-box-padding-block-start);
	padding-block-end: var(--contact-box-padding-block-end);

	&.has-preset {

		&-locate {
			
			@media screen and (min-width: $screen-desktop-min) {
				flex-direction: row;

				& .ehp-contact__text-container,
				& .ehp-contact__map-container {
					width: 50%;
				}
			}
		}
	}

	&__heading {
		color: var(--contact-text-heading-color);
	}

	&__description {
		color: var(--contact-text-description-color);
	}

	&__text-container {
		display: flex;
		flex-direction: column;
		gap: var(--contact-text-spacing);
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: var(--contact-group-spacing);
	}

	&__group-subheading {
		color: var(--contact-group-subheading-color);
		margin: 0;
	}

	&__links-container {
		display: flex;
		flex-direction: column;
		gap: var(--contact-links-spacing);
	}
	
	&__contact-link {
		display: flex;
		gap: var(--contact-link-icon-gap);

		& .ehp-contact__contact-link-icon {
			transition: $transition;
			
			&:is(svg) {
				fill: var(--contact-link-icon-color);
				height: var(--contact-link-icon-size);
				width: var(--contact-link-icon-size);
			}

			&:is(i) {
				color: var(--contact-link-icon-color);
				font-size: var(--contact-link-icon-size);
			}
		}
	
		& .ehp-contact__contact-link-label {
			color: var(--contact-link-label-color);
			transition: $transition;
		}
		
		&:hover,
		&:focus {

			& .ehp-contact__contact-link-icon {
				color: var(--contact-link-icon-hover-color);
				transition: $transition;

				&:is(svg) {
					fill: var(--contact-link-icon-hover-color);
					transition: $transition;
				}
			}
	
			& .ehp-contact__contact-link-label {
				color: var(--contact-link-label-hover-color);
				transition: $transition;
			}
		}
	}

	&__contact-text {
		color: var(--contact-contact-text-color);
	}

	&__social-icons-container {
		display: flex;
		gap: var(--contact-social-icon-gap);
	}

	&__social-link {

		& .ehp-contact__contact-social-icon {
			transition: $transition;
			
			&:is(svg) {
				fill: var(--contact-social-icon-color);
				height: var(--contact-social-icon-size);
				width: var(--contact-social-icon-size);
			}

			&:is(i) {
				color: var(--contact-social-icon-color);
				font-size: var(--contact-social-icon-size);
			}
		}

		&:hover,
		&:focus {

			& .ehp-contact__contact-social-icon {
				color: var(--contact-social-icon-hover-color);
				transition: $transition;

				&:is(svg) {
					fill: var(--contact-social-icon-hover-color);
					transition: $transition;
				}
			}
		}
	}
}