@import "./variables";

.ehp-image {
	--ehp-image-height: 100%;
	--ehp-image-min-height: 0;
	--ehp-image-position: center;
	--ehp-image-width: 100%;
	--ehp-image-border-color: #{$global-colors-secondary};
	--ehp-image-border-width: 0;
	--ehp-image-border-radius-block-end:  #{$corners-shape-default};
	--ehp-image-border-radius-block-start:  #{$corners-shape-default};
	--ehp-image-border-radius-inline-end:  #{$corners-shape-default};
	--ehp-image-border-radius-inline-start:  #{$corners-shape-default};

	--ehp-image-border-radius-default: #{$corners-shape-default};
	--ehp-image-border-radius-sharp: #{$corners-shape-sharp};
	--ehp-image-border-radius-rounded: #{$corners-image-shape-rounded};
	--ehp-image-border-radius-round: #{$corners-image-shape-round};
	--ehp-image-border-radius-oval: #{$corners-shape-oval};

	align-items: center;
	display: flex;
	justify-content: center;
	z-index: 2;

	.elementor & img {
		height: var(--ehp-image-height);
		object-fit: cover;
		object-position: var(--ehp-image-position);
		min-height: var(--ehp-image-min-height);
		width: var(--ehp-image-width);

		@mixin shapes() {
			&-sharp {
				border-radius: var(--ehp-image-border-radius-sharp);
			}
		
			&-rounded {
				border-radius: var(--ehp-image-border-radius-rounded);
			}
		
			&-round {
				border-radius: var(--ehp-image-border-radius-round);
			}
	
			&-default {
				border-radius: var(--ehp-image-border-radius-default);
			}
		
			&-oval {
				border-radius: var(--ehp-image-border-radius-oval);
			}
	
			&-custom {
				border-top-left-radius: var(--ehp-image-border-radius-block-end);
				border-top-right-radius: var(--ehp-image-border-radius-block-start);
				border-bottom-right-radius: var(--ehp-image-border-radius-inline-end);
				border-bottom-left-radius: var(--ehp-image-border-radius-inline-start);
			}
		}

		&.has-shape {
			@include shapes();

			&-md {
				@media screen and (max-width: $screen-tablet-max) {
					@include shapes();
				}
			}

			&-sm {
				@media screen and (max-width: $screen-mobile-max) {
					@include shapes();
				}
			}
		}

		&.has-border {
			border-color: var(--ehp-image-border-color);
			border-style: solid;
			border-width: var(--ehp-image-border-width);
		}
	}

	&.has-image-stretch {
		--ehp-image-height: 100%;
		--ehp-image-width: 100%;
	}
}
