#hello-plus-dashboard {

	.components-placeholder {
		background: #f1f1f1;
	}

	.hello_plus__header {
		padding: 20px 10px;
		margin-inline-start: -2em;
		background-color: #ffffff;
		box-shadow: 0 1px 0 rgba(213, 213, 213, .5), 0 1px 2px #eeeeee;

		.hello_plus__container {
			max-width: 750px;
			margin: 0 auto;

			.hello_plus__title {
				display: flex;
				justify-content: center;
				align-items: center;

				.dashicon {
					color: #757575;
				}
			}
		}
	}

	.components-base-control__help {
		margin-block-start: .5rem;
	}

	.hello_plus__notices {
		.components-snackbar {
			position: fixed;
			bottom: .5rem;
		}
	}

	.hello_plus__action_links {
		display: flex;
		flex-direction: column;
	}

	.hello_plus__action_link {
		text-align: center;
		margin-block-start: 50px;
		margin-block-end: 20px;

		&__title {
			font-weight: bold;
		}

		&__message {
			font-weight: normal;
		}
	}
}
