/*
Multi Steps Form

Currently manually overwriting  - need to find a better solution,
the source property is coming from element/dev/scss...

*/
/* TODO: check why elementor-hidden class is not working */
.elementor-hidden,
.elementor-button.elementor-hidden {
	display: none;
}

.e-form {
	&__step {
		width: 100%;

		&:not(.elementor-hidden) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__buttons {
		flex-wrap: wrap;

		&,
		&__wrapper {
			display: flex;
		}
	}

	&__indicators {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		font-size: 13px;
		margin-bottom: var(--e-form-steps-indicators-spacing);

		&__indicator {
			$indicator-state-inactive-primary: #C2CBD2;
			$indicator-state-inactive-secondary: #FFF;
			$indicator-state-active-primary: #39B54A;
			$indicator-state-active-secondary: #FFF;
			$indicator-state-completed-primary: #39B54A;
			$indicator-state-completed-secondary: #FFF;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-basis: 0;
			padding: 0 var(--e-form-steps-divider-gap);

			&__progress {
				width: 100%;
				position: relative;
				background-color: var(--e-form-steps-indicator-progress-background-color);
				border-radius: var(--e-form-steps-indicator-progress-border-radius);
				overflow: hidden;

				&__meter {
					width: var(--e-form-steps-indicator-progress-meter-width, 0);
					height: var(--e-form-steps-indicator-progress-height);
					line-height: var(--e-form-steps-indicator-progress-height);
					padding-right: 15px;
					border-radius: var(--e-form-steps-indicator-progress-border-radius);
					background-color: var(--e-form-steps-indicator-progress-color);
					color: var(--e-form-steps-indicator-progress-meter-color);
					text-align: right;
					transition: width 0.1s linear;
				}
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			&--state-inactive {
				color: var(--e-form-steps-indicator-inactive-primary-color, $indicator-state-inactive-primary);

				[class*="indicator--shape-"]:not(.e-form__indicators__indicator--shape-none) {
					background-color: var(--e-form-steps-indicator-inactive-secondary-color, $indicator-state-inactive-secondary);
				}

				svg,
				object {
					fill: var(--e-form-steps-indicator-inactive-primary-color, $indicator-state-inactive-primary);
				}
			}

			&--state-active {
				color: var(--e-form-steps-indicator-active-primary-color, $indicator-state-active-primary);
				border-color: var(--e-form-steps-indicator-active-secondary-color, $indicator-state-active-secondary);

				[class*="indicator--shape-"]:not(.e-form__indicators__indicator--shape-none) {
					background-color: var(--e-form-steps-indicator-active-secondary-color, $indicator-state-active-secondary);
				}

				svg,
				object {
					fill: var(--e-form-steps-indicator-active-primary-color, $indicator-state-active-primary);
				}
			}

			&--state-completed {
				color: var(--e-form-steps-indicator-completed-secondary-color, $indicator-state-completed-secondary);

				[class*="indicator--shape-"]:not(.e-form__indicators__indicator--shape-none) {
					background-color: var(--e-form-steps-indicator-completed-primary-color, $indicator-state-completed-primary);
				}

				.e-form__indicators__indicator__label {
					color: var(--e-form-steps-indicator-completed-primary-color, $indicator-state-completed-primary);
				}

				.e-form__indicators__indicator--shape-none {
					color: var(--e-form-steps-indicator-completed-primary-color, $indicator-state-completed-primary);
					background-color: initial;
				}

				svg,
				object {
					fill: var(--e-form-steps-indicator-completed-secondary-color, $indicator-state-completed-secondary);
				}
			}

			&__icon {
				width: var(--e-form-steps-indicator-padding, 30px);
				height: var(--e-form-steps-indicator-padding, 30px);
				font-size: var(--e-form-steps-indicator-icon-size);
				border-width: 1px;
				border-style: solid;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				margin-bottom: 10px;

				img,
				svg,
				object {
					width: var(--e-form-steps-indicator-icon-size);
					height: auto;
				}

				.e-font-icon-svg {
					height: 1em;
				}
			}

			&__number {
				width: var(--e-form-steps-indicator-padding, 30px);
				height: var(--e-form-steps-indicator-padding, 30px);
				border-width: 1px;
				border-style: solid;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 10px;
			}

			&--shape-circle {
				border-radius: 50%;
			}

			&--shape-square {
				border-radius: 0;
			}

			&--shape-rounded {
				border-radius: 5px;
			}

			&--shape-none {
				border: 0;
			}

			&__label {
				text-align: center;
			}

			&__separator {
				width: 100%;
				height: var(--e-form-steps-divider-width);
				background-color: $editor-lighter;
			}
		}

		&--type-number,
		&--type-number_text,
		&--type-icon,
		&--type-icon_text {
			align-items: flex-start;

			.e-form__indicators__indicator__separator  {
				margin-top: calc(var(--e-form-steps-indicator-padding, 30px) / 2 - var(--e-form-steps-divider-width, 1px) / 2);
			}
		}
	}
}
/* End OF Multi Steps Form */

.elementor-field-type-hidden {
	display: none;
}

.elementor-field-type-html {
	display: inline-block;
}

.elementor-field-type-tel {
	// The direction of the tel input field is ltr even in rtl mode (user agent default), we want to match the direction to the page.
	input {
		direction: inherit;
	}
}

.elementor-field-type-recaptcha_v3 .elementor-field-label {
	display: none;
}

.elementor-field-type-recaptcha_v3 .grecaptcha-badge {
	z-index: $first-layer;
}

.elementor-button .elementor-form-spinner {
	order: 3;
}

.elementor-form .elementor-button {
	.elementor-button-content-wrapper {
		align-items: center;
	}

	.elementor-button-text {
		white-space: normal;
	}

	svg {
		height: auto;
	}

	.e-font-icon-svg {
		height: 1em;
	}

	/* TODO: BC that should be removed in v3.23 */
	.elementor-button-content-wrapper {
		gap: 5px;
	}
	.elementor-button-text,
	.elementor-button-icon {
		flex-grow: unset;
		order: unset;
	}
	/* END TODO */
}

.elementor-select-wrapper .select-caret-down-wrapper {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	inset-inline-end: 10px;
	pointer-events: none;
	font-size: 11px;

	svg {
		display: unset;
		width: 1em;
		aspect-ratio: unset;
		fill: currentColor;
	}

	i {
		font-size: 19px;
		line-height: 2;
	}
}

// TODO: This CSS code that is no longer needed from core to set icons without the ICON-MANAGER class.
// should be removed when the bug is fixed.
.elementor-select-wrapper.remove-before::before {
	content: "" !important;
}

.elementor-message {
	&-svg {

		&:before{
			content: '';
			width: 1em;
			height: 1em;
			background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxNCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00Ljc0OTggOC4xNDkyMkwxLjU5OTggNC45OTkyMkwwLjU0OTgwNSA2LjA0OTIyTDQuNzQ5OCAxMC4yNDkyTDEzLjc0OTggMS4yNDkyMkwxMi42OTk4IDAuMTk5MjE5TDQuNzQ5OCA4LjE0OTIyWiIgZmlsbD0iIzAwOEEyMCIvPgo8L3N2Zz4K');
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}
