@import "../breakpoints";

@mixin column-width-sizes() {
	&-33 {
		--ehp-column-width: 33.3333%;
	}

	&-50 {
		--ehp-column-width: 50%;
	}

	&-100 {
		--ehp-column-width: 100%;
	}
}

.ehp-form {
	--ehp-column-width: 100%;
	--ehp-form-row-gap: 20px;
	--ehp-form-column-gap: 20px;
	--ehp-form-button-icon-spacing: 8px;
	--ehp-form-button-icon-position: row;

	&__wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-inline: calc(var(--ehp-form-column-gap) / -2);
		row-gap: var(--ehp-form-row-gap);
	}

	&__field-group {
		padding-inline: calc(var(--ehp-form-column-gap) / 2);

		&.is-field-required.is-mark-required .ehp-form__field-label {
			&::after {
				content: "*";
				color: red;
				display: inline-block;
			}
		}
	}

	&__button[type="submit"] {
		align-items: center;
		display: flex;
		flex-direction: var(--ehp-form-button-icon-position);
		justify-content: center;
		gap: var(--ehp-form-button-icon-spacing);
	}

	&__field-group,
	&__button[type="submit"] {
		width: var(--ehp-column-width);

		&.has-width {
			@include column-width-sizes();

			&-md {
				@media screen and (max-width: $screen-desktop-min) {
					@include column-width-sizes();
				}
			}

			&-sm {
				@media screen and (max-width: $screen-tablet-min) {
					@include column-width-sizes();
				}
			}
		}
	}
}