.elementor-widget-zigzag {
	--zigzag-button-icon-size: 16px;
	--zigzag-button-icon-spacing: 10px;
	--zigzag-button-text-color: #000000;
	--zigzag-button-text-color-hover: #000000;
	--zigzag-button-icon-color: #000000;
	--zigzag-button-icon-color-hover: #000000;
	--zigzag-button-background-color: transparent;
	--zigzag-button-background-color-hover: transparent;
	--zigzag-button-border-width: 1px;
	--zigzag-button-border-color: #000000;
	--zigzag-button-border-radius: 0;
	--zigzag-title-color: #000000;
	--zigzag-description-color: #000000;
	--transition: all .3s;

	&__button-icon {
		color: var(--zigzag-button-icon-color);
		fill: currentColor;
		height: var(--zigzag-button-icon-size);
		transition: var(--transition);
		width: var(--zigzag-button-icon-size);
	}

	&__button {
		align-items: center;
		background-color: var(--zigzag-button-background-color);
		border-style: solid;
		border-width: 0;
		color: var(--zigzag-button-text-color);
		display: flex;
		font-weight: 500;
		font-size: 16px;
		gap: var(--zigzag-button-icon-spacing);
		padding: 12px 24px;
		text-decoration: underline;
		transition: var(--transition);

		&:hover,
		&:focus {
			background-color: var(--zigzag-button-background-color-hover);
			color: var(--zigzag-button-text-color-hover);
			transition: var(--transition);

			.elementor-widget-zigzag__button-icon {
				color: var(--zigzag-button-icon-color-hover);
				fill: currentColor;
				transition: var(--transition);
			}
		}

		&.has-border {
			border-color: var(--zigzag-button-border-color);
			border-style: solid;
			border-width: var(--zigzag-button-border-width);
			border-radius: var(--zigzag-button-border-radius);
		}
	}

	&__button-container {
		flex: 0 0 auto;
		margin-top: 0;
		text-align: start;
		padding-top: 15px;
	}

	&__text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		padding: 20px;
	}

	&__title {
		color: var(--zigzag-title-color);
		font-size: 40px;
	}

	&__description {
		color: var(--zigzag-description-color);
		font-size: 18px;
	}

	&__graphic-element-container {
		width: 50%;
		padding: 20px;
	}

	&__graphic-icon {
		display: flex;
		align-items: center;
		height: 60%;
	}
}

.zigzag-inner-container {
	border-style: solid;
	border-width: 0;
}
  
.zigzag-widget-container {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	align-items: center;

	&.full-width {
		width: 100%;
	}
}
  
.elementor-widget-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.zigzag-block-item-container {
	display: flex;

	&.row-odd {
		flex-direction: row !important;
	}

	&.row-even {
		flex-direction: row-reverse !important;
	}

	&.row-reverse-odd {
		flex-direction: row-reverse !important;
	}

	.row-reverse-even {
		flex-direction: row !important;
	}

	&:nth-child(even) .elementor-widget-zigzag__text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		width: 50%;
		padding: 20px
	}

	&:nth-child(odd) .elementor-widget-zigzag__text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		width: 50%;
		padding: 20px
	}
}
  
.elementor-button-link {
	border-style: solid;
}
  
/* Mobile */
@media screen and (max-width: 767px) {
	.zigzag-block-item-container:first-child {
		display: flex;
		flex-direction: column;
	}

	.zigzag-widget-container,
	.elementor-widget-zigzag__text-container,
	.elementor-widget-zigzag__graphic-element-container,
	.zigzag-block-item-container:nth-child(even) .elementor-widget-zigzag__text-container,
	.zigzag-block-item-container:nth-child(odd) .elementor-widget-zigzag__text-container {
		width: 100%;
	}

	.zigzag-block-item-container,
	.zigzag-block-item-container:nth-child(even),
	.zigzag-block-item-container:nth-child(odd){
		display: flex;
		flex-direction: column;
	}
}

// .elementor-button-content-wrapper {
// 	display: flex;
// 	align-items: center;
// }

// .elementor-button-content-wrapper.icon-before {
// 	flex-direction: row !important;
// }

// .elementor-button-content-wrapper.icon-after {
// 	flex-direction: row-reverse !important;
// }

